*{
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 25px;
}

h1{
    font-family: 'Indie Flower';
}

table{
    width: 600px;
    border: black;
}

table th, td {
    padding: 10px;
}

table thead {
    background-color: lightgray;
}

table tbody {
    background-color: white;
}

tbody tr:hover{
    background-color: darkseagreen;
}

tbody tr:nth-child(even){
    background-color: aqua;
}